@import './styles/theme.css';

/* Global Reset & Base HTML styling */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--bg-dark-obsidian);
}

#root {
  display: flex;
  overflow: hidden;
}
